html, body {
    background-image: url("https://wallpapersite.com/images/wallpapers/stars-3840x2160-galaxy-4k-6362.jpg");
    margin:0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container{
    padding-top: 60px;
}

.container2{
    padding-top:50px;
    width:80%;
    margin: 0 auto;
    z-index: 69;
}

.container3{
    padding-top:50px;
    width:100%;
    margin: 0 auto;
    z-index: 69;
}

#tableRow{
    width: 100%;
}

table{
    background-color: darkgrey;
}

#counter{
    background-color: #DCDCDC;
    padding: 6px;
    border-radius: 10%;
}

.counters{
    background-color: #DCDCDC;
    padding: 6px;
    border-radius: 10%;
}

/* nav bar */
#nav{
    z-index: 2;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #ddd;
}

#nav .active {
    color: white;
    background-color: #4CAF50;
}



#bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    background-blend-mode: multiply;
    /*sorte kanter omkring bg */
    pointer-events: none;
}

#containerSR{
    padding-top: 55px;
}

ul {
    list-style-type: none;
}

#SR li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    maring: 0 auto;
    padding-bottom: 5px;
}
