html, body {
    background-image: url("https://wallpapersite.com/images/wallpapers/stars-3840x2160-galaxy-4k-6362.jpg");
    margin:0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container2{
    padding-top:50px;
    width:80%;
    margin: 0 auto;
    z-index: 69;
}

.container3{
    padding-top:50px;
    width:100%;
    margin: 0 auto;
    z-index: 69;
}

#tableRow{
    width: 100%;
}

table{
    background-color: darkgrey;
}

#counter{
    background-color: #DCDCDC;
    padding: 6px;
    border-radius: 10%;
}

/* nav bar */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #ddd;
}

#nav .active {
    color: white;
    background-color: #4CAF50;
}



.background {
    position:  absolute;
    display:  block;
    top: 0;
    left: 0;
    z-index:-1;
    background-blend-mode: multiply;
}


/* SELECT ROLE */
.containerSR{
    padding-top:50px;
    width: 10%;
    margin: 0 auto;
    z-index: 69;
}

#SR ul {
    margin: 0 auto;
    padding: 0;
    width: 200px;
    border: 1px solid #555;
 }

#SR li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #FF1493;
}

#SR li {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #555;

}

#SR li:last-child {
    border-bottom: none;
}

#SR li a.active {
    background-color: #4CAF50;
    color: white;
}

#SR li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
